<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TO-DO Manager</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />   
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/public/css/styles.css">

    <script>
      var token = document
  .querySelector('meta[name="csrf-token"]')
  .getAttribute("content");

function updateTodo(id) {
  let bool=document.querySelector(`#todo-checkbox-${id}`).checked
  fetch(`/todos/${id}`, {
    method: "put",
    headers: {
      "Content-Type": "application/json",
    },
    body: JSON.stringify({
      _csrf: token,
      completed : bool
    }),
  })
    .then((res) => {
      window.location.reload();
    })
    .catch((err) => console.error(err));
}

function deleteTodo(id) {
  console.log(id);

  fetch(`/todos/${id}`, {
    method: "delete",
    headers: {
      "Content-Type": "application/json",
    },
    body: JSON.stringify({
      _csrf: token,
    }),
  })
    .then((res) => {
      window.location.reload();
    })
    .catch((err) => console.error(err));
}
    </script>
  </head>
</div>
<body> 
  <div class = "grid grid-cols-6">
      <div class = "col-start-3 col-span-2">  
        <table>
          <%- include('header.ejs') %>
          <%- include('notifications.ejs') %>

          <div>
            <form action="/todos" method="POST">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
              <div class="flex gap-2 py-4">
                <div class="flex-auto">
                  <input
                    type="text"
                    placeholder="What's next?"
                    name="title"
                    class="border border-gray-300 rounded text-gray-900 w-full p-2 text-sm"
                  />
                </div>
                <div class="flex-auto">
                  <input
                    type="date"
                    name="dueDate"
                    class="border border-gray-300 rounded text-gray-900 w-full p-2 text-sm leading-4	"
                    
                  />
                </div>
                <div class="flex-none">
                  <button
                    type="submit"
                    class="bg-green-600	text-white px-5 py-1.5 rounded font-medium mr-2 mb-2"
                  >
                    Add
                  </button>
                </div>
              </div>
            </form>
          </div>
          <%- include("todo.ejs",{title:"Overdue", data:overdue , id:"count-overdue"}) %>
          <%- include("todo.ejs",{title:"Due Today", data:dueToday, id:"count-due-today"}) %>
          <%- include("todo.ejs",{title:"Due Later", data:dueLater, id:"count-due-later"}) %>
          <%- include("todo.ejs",{title:"Completed Items", data:completedItems, id:"count-completed"}) %>
          <br>
            <% if (messages && messages.error && messages.error.length > 0)  { %>
                <% var i = 0; %>
                <% while (i < messages.error.length) { %>
                    <p><%= messages.error[i] %></p>
                  <% i++; %>
                <% } %>
              <% } %>

        <br>
          <%- include('footer.ejs') %>
        
          <div align="center" class="flex-none">
            <form action="/signout" method="get">
              <input
                type="hidden"
                name="_csrf"
                value="<%= csrfToken %>"
              />
              <button
                type="submit"
                class="bg-green-600 text-white px-5 py-1.5 rounded font-medium mr-2 mb-2"
              >
                Sign Out
              </button>
            </form>
          </div>
        </table>
        logoutBtn
</html>
